
.profile-container {
  background-color: #f8f4e1;
  font-family: 'Raleway-Regular';
  color: #74512d;
}
.btn-submit {
  background-color: #74512d;
  color: #f8f4e1;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
